.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 263px);
  justify-content: center;
  margin-top: 141px;
  gap: 0 30px;
}

@media screen and (max-width: 1200px) {
  .products-list {
    grid-template-columns: repeat(2, 263px);
    justify-content: center;
    gap: 136px 29px;
  }
}

@media screen and (max-width: 624px) {
  .products-list {
    grid-template-columns: repeat(auto-fill, 263px);
    justify-content: center;
    margin-top: 121px;
    gap: 133px 30px;
  }
}
