<footer class="footer">
  <div class="container">
    <div class="logo logo-footer">
      <a href="#">
        <img src="images/logo.png" alt="logo">
      </a>
      <div class="rights">
        Все права защищены, 2020
      </div>
    </div>
    <div class="socials">
      <img src="images/instagram.png" alt="instagram">
      <a [href]="hrefInstagram" class="socials-text">Мы в Instagram</a>
    </div>
    <div class="phone footer-phone">
      {{ phone | numberPhone }}
    </div>
  </div>
</footer>
