<header-component [phone]="phone" (clickLinkHeader)="scroll($event)"></header-component>
<section class="main main-block">
  <div class="container">
    <div class="main-info">
      <h1>Мягкие французские пироженки Macaroons</h1>
      <div class="main-info-text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <button class="button main-button" styleButtons [styleButtonsDirectiveColorHover]="'linear-gradient(90deg, rgb(215, 72, 92) 0%, rgb(105, 72, 92) 100%)'" (click)="scroll('', products)">Выбрать макарун</button>
    </div>
    <div class="main-image">
      <img src="images/cakes.png" alt="cakes" loading="lazy">
    </div>
  </div>
</section>
<section class="advantages" #about>
  <div class="container">
    <div class="advantages-info">
      <div class="advantages-info-wrap">
        <h2 class="advantages-info-title h2-title">
          Мы печём для вас вкуснейшие макаруны уже более 10 лет
        </h2>
        <div class="advantages-info-text">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
          ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
          маргарина,
          разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="advantages-info-img" loading="lazy">
        <img src="images/makarunbig.png" alt="makarun" loading="lazy">
      </div>
    </div>
    <advantages-component [advantages]="advantages"></advantages-component>
  </div>
</section>
<section class="products" #products>
  <div class="container">
    <h2 class="products-title h2-title">Выберите свой макарун</h2>
    <products-component [maracuns]="maracuns" (clickOrderBtn)="clickOrder($event, order)"></products-component>
  </div>
</section>
<section class="order" #order>
  <div class="container">
    <div class="order-img">
      <img class="cakes" src="images/macaronbig2.png" alt="macarunsbig" loading="lazy">
    </div>
    <div class="order-form">
      <h2 class="order-form-title h2-title">Закажите макарун!</h2>
      <div class="order-form-text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <form action="#" class="form">
        <label>
          <span>Ваш выбор</span>
          <input [(ngModel)]="formObjectValue.maracun" type="text" name="choice" placeholder="Напишите, что хотите заказать...">
        </label>
        <label>
          <span>Заполните данные для заказа</span>
          <input type="text" name="name" placeholder="Ваше имя">
        </label>
        <label>
          <input type="text" name="phone" placeholder="+375 (__) ___ - __ - __">
        </label>
        <button type="submit" styleButtons [styleButtonsDirectiveColorHover]="'linear-gradient(90deg, rgb(215, 72, 92) 0%, rgb(105, 72, 92) 100%)'" class="button button-order">Оформить заказ</button>
      </form>
    </div>
    <img class="berry2" src="images/berry2.png" alt="berry2" loading="lazy">
    <img class="berry1" src="images/berry1.png" alt="berry1" loading="lazy">
  </div>
</section>

<footer-component [phone]="phone"></footer-component>

<div class="present" *ngIf="showPresent">
  <div class="present-img">
    <div class="count-product">{{getSumBasket.colInBasket}}</div>
    <img src="images/basket.png" alt="present">
  </div>
  <div class="tooltip">
    <div class="tooltip-text">{{getSumBasket.sumBasket | number:'1.2-2'}} руб. </div>
    <img class="figure1" src="images/figure1.png" alt="figura1">
    <img class="figure2" src="images/figure2.png" alt="figura2">
    <img class="figure3" src="images/figure3.png" alt="figura3">
  </div>
</div>
